@import url(base/index.css);
@import url(modules/index.css);

:is(#root, #__next) > * {
  display: grid;
  width: 100%;
  place-content: center;
}

:is(#root, #__next) > * > * {
  max-width: 1280px;
  margin: auto;
}

:is([type="checkbox"], [type="radio"]):has( + label) {
  margin-right: var(--x-8px);
}
